@color-white:           #FFF;
@color-gray-main:       #F4F5F6;
@color-gray-alt:        #E1E5E6;
@color-black:           #000;
@color-red:             #E91630;
@color-yellow:          #FFC800;
@color-green:           #34C86E;

@background-color: @color-gray-main;
@text-color: @color-black;
@text-color-alt: #98989D;